inc/salasanat.php
datain/pankkiaineisto*
datain/lue-data*
datain/magento-order*
datain/presta-order*
dataout/*
.idea
pics/logo.png
pupenext
verkkolaskut_error
verkkolaskut_in
verkkolaskut_ok
verkkolaskut_orig
verkkolaskut_reject

